body {
    text-align: center;
    font-family: 'Sacramento';
}

@import url("fonts.css");
@import url("font-awesome/css/all.min.css");
@import url("micons/micons.css");


@font-face{
    font-family: 'robuS';
    src: url('../css/font-awesome/fonts/fontawesome-webfont.ttf');
}

.BUTTON_IDI {
    margin-top: 7rem;
    margin-bottom: 7rem;
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3992f7, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 100;
    padding: 20px 40px 20px 40px ;
    -webkit-box-shadow: 1px 1px 20px 0 #DD380D;
    -moz-box-shadow: 1px 1px 20px 0 #DD380D;
    box-shadow: 1px 1px 10px 0 #DD380D;
    text-shadow: 6px 1px 20px #0059A0;
    border: solid #000000 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn {
    text-decoration: none;
    color: white;
 }
 .BUTTON_IDI:hover {
    border: solid #DD380D 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

.granimate {
    background-color: #2ecc71;
    margin-top: -1rem;
    animation: hue 7s linear 0s infinite reverse;
}



.granimate::before {
    /*background: linear-gradient(105deg, rgba(255, 190, 0, 0), #ffbe00);
    animation: hue 12s linear 1s infinite;*/
}
  
@keyframes hue {
    to {
      filter: hue-rotate(1turn);
    }
}
  
.full {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1rem;
    margin-left: -1rem;
    width: 1525px;
    height: 710px;
    color: white;
    font-family: system-ui;
}

.bodygradient{
    width: 1510px;
    height: 700px;
}

.h {
    margin-top: 50px;
    line-height: 2;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
    letter-spacing: 10px;

}



@media only screen and (max-width: 600px) {

    .granimate{
        margin-left: -1rem;
        width: 20rem;
        height: 2rem;
    }
    .full{
        width: 2rem;
        margin-left: -1rem;
    }
    .bodygradient{
        width: 20rem;
        height: 42rem;
    }   
    .h {
        width: 20rem;
        text-align: center;
        font-size: 20px;
    }
}
@media only screen and (max-width: 768px) {

    .granimate{
        margin-left: -1rem;
        width: 20rem;
        height: 42rem;
    }
    
    .bodygradient{
        margin-left: -1rem;
        width: 20rem;
        height: 42rem;
    }   
    .h {
        font-size: 10px;
    }
}
@media only screen and (max-width: 1024px) {
    .full{
        margin-right: 0;
        margin-left: 0;
        width: 30rem;
        height: 42rem;
    } 
    .h {
        font-size: 60px;
    }
    
}

  

.sa{
    margin-top: -2rem;
}

  
.body {
    background-color:wheat;
}

.bg {
    height: 300px;
    width: 300px;
}

.para4 {
    margin: 0;
    text-align: right;
}

.para5 {
    margin: 0;
    text-align: left;
    padding-bottom: 2rem;
}

.next {
    background-color:white;  
}

.f {
    float: left;
    margin-right: 30px;
}

.skills {
    width: 60rem;
    margin-left: 17rem;
    font-family: 'Montserrat', sans-serif;
    text-shadow: wheat;
    text-align:center;
    font-size: large;
    line-height: 2;
    
}
.YT {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
    padding-bottom: 2rem;
}

@media (max-width:37.5em){
    .YT{
        font-size: 20px;
    }
    .skills{
        margin-left: 1rem;
        font-size: 15px;
        width: 20rem;
    }
}

.pre {
    margin-left: 2%;
    height: 420px;
    width: 800px;
    border: solid 10px;
}

.container {
    height: 200px;
    width: 200px;
}
  
.image {
    display: block;
    height: 200px;
    width: 200px;
    border: solid black 10px;
    margin-left: 640px;
    transition: .5s ease;
}


  
.image2 {
    height: 200px;
    width: 200px;
    border-radius: 10%;
    margin-right: 20px;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    margin-top: 100px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
  
.container:hover .image {
    opacity: 0.8;
}

.text {
    background-color: #4CAF50;
    color: white;
    font-size: 1px;
    padding: 16px 32px;
    font-family: 'Montserrat', sans-serif;
}

.strong {
    font-family: 'Montserrat', sans-serif;
    text-decoration: solid;
    color: rgb(219, 35, 35);
}

.strong:hover{
    color: black;
}

@media (max-width:37.5em){
    .text{
        font-size: 0.5px;
    }
}

.jatin {
    color: rgb(219, 35, 35);
    font-size: 25px;
    text-align: center;
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
}

.career {
    text-align: left;
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
}


.fact {
    border: 2px solid white;
    width: 70rem;
    padding-left: 13rem;
    text-align: center;
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
    line-height: 2;
}

@media (max-width:37.5em){
    .fact{
        font-size: 14px;                                                
        margin-left: -12rem;                    
        text-align: left;               
        width: 20rem;
    }
}

.fact2 {
    text-align: left;
}

.YTs {
    text-align: center;
    color: rgb(219, 35, 35);
}

.insta {
    float: left;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    line-height: 2;
    margin: 0;
}


.new {
    text-decoration: black;
    border:solid 1px;
}

.trex {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    color: tomato;
    text-align: center;
}

@media (max-width:37.5em){
    .trex{
        font-size: 40px;
    }
}

.feature-box-icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
}

.intro-social {
	display: block;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 7.2rem;
	font-size: 3.3rem;
	margin: 0;
	padding: 0;
}
.intro-social li {
	display: inline-block;
	margin: 0 20px;
	padding: 0;
}
.intro-social li a, .intro-social li a:visited {
	font-family: 'sans';
	color: #FFFFFF;
}
.intro-social li a:hover, .intro-social li a:focus {
	color: #cc005f;
}

#intro a {
	font-family: 'sans';
}

.horizon {
    border: 10px dotted rgb(208, 211, 216);
    border-top: 0;
    width: 10%;
    margin-bottom: 3rem;
}

.images {
    height: 100px;
    width: 100px;
}

.pro {
    text-decoration: underline;
}

.heading {
    margin-top: 100px;
    position: relative;
    border: solid 10px;
    font-size: 3rem;
    font-weight: normal;
}


.h3 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-top: 130px;
    font-size: 20px;
}

.i {
    height: 50px;
    width: 50px;
}

.i:hover {
    text-decoration: underline;
    color: cyan;
}

h1 {
	font-family: 'Corben', cursive;
	font-size: 6rem;
	color: white;
	letter-spacing: 0.1rem;
	text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.66);
}

.cloud1 {
    height: 70px;
    width: 100px;
    position: relative;
    top: 10px;
    left: 300px;
}

.cloud2 {
    height: 70px;
    width: 100px;
    position: absolute;
    top: 270px;
    left: 320px;
}

.image {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    float: left;
    margin-right: 30px;
}

@media (max-width: 37.5em){
    .image{
        height: 170px;
        width: 170px;
        margin-left: 4.5rem;
    }
}

.myself {
    width: 200px;
    height: 200px;
    border: 10px black solid;
    border-radius: 10%;
    margin-left: 2px;
}

.myself:hover{
    opacity: 0.8;
}

.mountain {
    height: 400px;
    width: 500px;
    position: relative;
    top: 100px;
}

.dev {
    font-family: 'Montserrat', sans-serif;
}

.he {
    margin-left: 400px;
    text-align: center;
}

.jy {
    margin-left: 360px;
}


.last {
    margin-left: 20%;
}

.last2 {
    margin-top: -24%;
    margin-left: 65%; 
}

.center {
    text-align: center;
}

.First{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
   
}

.Third {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: larger;
    text-align: center;
}

.Second {
    text-align: center;
}

.ADL {
    float: left;
}

.BDL {
    float: right;
}

.dev2 {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.dev1 {
    height: 200px;
    width: 200px;
    margin-top: 58px;
    margin-left: 400px;
    border-radius: 50%;
}

.contri {
    font-family: 'Montserrat', sans-serif;
}

.none {
    text-decoration: none;
    color: darkblue;
    
}

.none:hover {
    text-decoration: none;
    color: cyan;
}

.a {
    margin: 10px 10px 20px 10px;
}

.bfotter {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;   
}

.fotter {
    margin-left: 0;
    background-color:rgb(122, 196, 214);
    text-align: center;
    border-width: 120px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

.fot {
    margin-left: -1rem;
    margin-right: -0.7rem;
    margin-bottom: -1rem;
    background-color: lightblue;
    padding:20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
}